.Abid{
    font-size: 64px;
}
.btn{
    font-size: 32px;
    background-color: olive;
    color: white;
}
.Abid-one{
    font-size: 48px;
}
.Abid-two{
    width: 90px;
    height: 90px;
}
.Abid-three{
    height: 200px;
    width:200px;
}
.Abid-one-one{
    margin-top: -20px;
}